#photo_desc {
    height: 40rem;
    text-align: justify;
}

#photo_desc img{
    height: 33rem;
}

#map_photo {
    height: 40rem;
}

#inscription {
    padding-left: 12rem;
    height: 10rem;
}

#horaire {
    text-align: center;

}

#map {
    padding-top: 40rem;
}
#ourCarousel {
    margin-left: 5rem;
}

.gg{
    text-align: center;
}