.thumbnail img {
    max-height: 45rem;
    padding-top: 3rem;
}

.thumbnail{
    word-wrap: break-word;
}

#price{
    font-weight: bold;
    font-size: 3rem;
}

.line{
    margin-left: 10px;
    margin-right: 10px;
}