body img {
    height: 7rem;
}

body {
    font-family: arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;

}

#top, #home, #activity, #shop, #cart{
    background-color:
            #1169B0;
    height: 5rem;
}

#top {
    height: 5rem;
}
.nn{
    display: block;
    text-align: center;
}

#erreur{
    color:
            #1169B0;
    font-size: 10rem;
    text-align: center;
    display: block;
}

#contain {
    height: 16rem;
    background-color: white;
    border-bottom-style: groove;
    border-bottom-width: thin;
    border-bottom-color: grey;
}

#activity,#shop{
    height: 13rem;
    /*height : 115px;
    width: 230px;*/
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 1.5rem;
}

#home{
    height: 13rem;
    /*height : 115px;
    width: 230px;*/
    text-align: center;
    margin-right: 14px;
    margin-top: 1.5rem;
}



.logo img{
    margin-top: 12px;
}

#logoBDE img {
    height: 16rem;
    margin-left: 10rem;
    padding-left: 3rem;

}

#plus{
    margin-top: 5rem;
    padding-left: 5rem;
}


#logoCesi img{
    height: 13rem;
    margin-top: 10px;
}

#cart {
    height: 9rem;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 6rem;
}

#caret{
    display: block;
    margin-top: 1rem;
    padding-left: 8rem;
    font-size: 1px;
}

#cart img {
    height: 4rem;
}

.titre {
    margin-top: 10px;

    background-color: white;
    color:
            #1169B0;

}

.titre p {
    margin-top: 0.5rem;
    font-size: 1.6rem;
}

#cart titre {
    height : 3rem;
    width: 10rem;
}
#foot{
    color: white;
    background-color: #1169B0;
    height: 15rem;

}

#facebook img{
    height: 3.5rem;
    padding-left: 11rem;
}

#facebook,#twitter{
    margin-top: 5rem;
}

#twitter img{
    height: 3.5rem;
    margin-left: 3rem;
}

#mention p,#copyright p{
    display: block;
    margin-top: 6rem;
    height: 10rem;
}

#contact p{
    margin-top: 3rem;
}

#contenu{
    background-color: #F2F2F2 ;
}