<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="container-fluid">
                <div id="top" class="row"></div>
                <div id="contain" class="row">
                    <div id="logoCesi" class="col-md-1">
                        <img src="../../../public/images/logoExia.jpg">
                    </div>
                    <div id="logoBDE" class="col-md-3">
                        <img src="../../../public/images/logoBDE.png">
                    </div>


                    <div id="home" class="col-md-2">
                        <div class="logo">
                            <img src="../../../public/images/home.png">
                        </div>
                        <div class="titre">
                            <p>ACCUEIL</p>
                        </div>
                    </div>
                    <div id="activity" class="col-md-2">
                        <div class="logo">
                            <img src="../../../public/images/activity.png">
                        </div>
                        <div class="titre">
                            <p>ACTIVITÉS</p>
                        </div>
                    </div>
                    <div id="shop" class="col-md-2">
                        <div class="logo">
                            <img src="../../../public/images/cadi.png">
                        </div>
                        <div class="titre">
                            <p>BOUTIQUE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>